//- include the socket server file
//c9.io
// script(src='http://mms.christiangaertner.c9.io/socket.io/socket.io.js')
//openshift
script(src='http://mms-dagardner.rhcloud.com/socket.io/socket.io.js')
script(src='js/mms.js')